header {
    background-color: #5d5d5d;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    padding: 20px;
}

a {
    color: #e8ffede9;
}

/* nav {
    align-items: center;
} */

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}